@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Unbounded:wght@200..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Unbounded';
  font-size: 16px;
}
body { 
  background-color: #F2EBDC;
}
main {
  background-color: #D9C8B4;
  width: 300px;
  height: 530px;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  overflow: hidden;
  color: rgb(37, 37, 37);
}
main > form {
  padding: 10px;
}
main > section {

  overflow: hidden;
  bottom: 30%;
}
main > form > p {
  padding: 3px;
}
main > form > p > input {
  border: none;
  background-color: #F2E7C4;
  width: 100%;
}
main > form > p > input#Enviar {
  width: 100%;
  background-color: rgb(37, 37, 37);
  color: #F2E7C4;
}